<!--- Partial for Menu for Dashboard --->


<nav class="ui huge transparent menu">
    <a href="/"><img class = "ui small image" src = "https://cdn.glitch.com/e7becb0e-d74c-4c64-99bf-8d26aed82af3%2Fstoryclime_logo_with_simple_earth1.png?v=1609262694729"></a>
      <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>

  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>