
<nav class="ui huge transparent menu">
    <a href="/"><img class = "ui small image" src = "https://cdn.glitch.com/e7becb0e-d74c-4c64-99bf-8d26aed82af3%2Fstoryclime_logo_with_simple_earth1.png?v=1609262694729">
         </a>
  <div class="ui right menu">
    <a id="signup" class="item" href="/signup"> <span class="ui blue text"> Signup </span> </a>
    <a id="login" class="item" href="/login">  <span class="ui red text"> Login </span>  </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>