{{> menu id="adventure"}}

<section class="ui center aligned middle aligned stacked two column grid segment">
    <div class="column">
      
      
  


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script>
      var settings = {
        "url": "https://api.nasa.gov/insight_weather/?api_key=Q6hHO47AZAohJCYVNKfcnlLRoC8RWLZnBbxg7e7t&feedtype=json&ver=1.0",
        "method": "GET",
        "timeout": 0,
      };

      $.ajax(settings).done(function (response) {
        console.log(response);
        var content = response[704].AT.av;  
       $("#solTemp").append(content); 
   });
      </script>

      Mars temperature: <span id="solTemp"></span>
</div>
    <div class="column">
    

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script>
      var settings = {
        "url": "https://api.openweathermap.org/data/2.5/weather?zip=95050&units=imperial&appid=9c1799a40366712bed5701629d87a59e",
        "method": "GET",
        "timeout": 0,
      };

      $.ajax(settings).done(function (response) {
        console.log(response);
        var content = response.wind.speed;
        $("#windSpeed").append(content);
      });

      </script>
  
      Earth wind speed: <span id="windSpeed"></span>


    </div>
</section>
<section class="ui segment">
     <p> Hold on tight, {{user.childFName}}. 5, 4, 3, 2, 1... here we go! </p>
</section> 

