<!--- Dashboard Webpage --->
{{> menu id="dashboard"}}
  
<section class="ui segment">
  {{> adventure}}
</section>

<section class = "ui blue center aligned middle aligned segment">
  <p>Copyright: StoryClime, 2020 | Contact: storyclime@gmail.com </p>
</section>
