{{> welcomemenu }}

<section class="ui fluid center aligned middle aligned stacked two column grid segment">
    
    <div class="column">
        <img class="ui fluid image"
             src="https://cdn.glitch.com/e7becb0e-d74c-4c64-99bf-8d26aed82af3%2Fchild.png?v=1609262622659">
    </div>
<div class="column">
        <img class="ui fluid image"
             src="https://cdn.glitch.com/e7becb0e-d74c-4c64-99bf-8d26aed82af3%2Fstoryclime_logo_with_simple_earth1.png?v=1609262694729">
          
        <p> <span class="ui large text"> StoryClime teaches children about the science that underpins our world by making them the protagonists of their own adventures stories. The free StoryClime app uses information inputted by you, the parent, and data taken from a range of sources, to create unique comic book adventures for your child, narrated by their own imaginary friend. 
        The premium SpaceClimber1 teaches children about data and the wonders of flight, through real time measurements displayed in the cockpit section of their StoryClime dashboard. 
          Launch your child's education today with StoryClime! </span> </p>
  <h3 class="ui blue header"> <em> Where science and imagination collide </em></h3></div>
</section>
<section class = "ui yellow center aligned middle aligned segment">
<p>Copyright: StoryClime, 2020 | Contact: storyclime@gmail.com | <a href="/adminlogin">  Admin Login  </a></p>
</section>
        
      
        